import React from 'react'
import styles from './{{pascalCase name}}.module.scss'
import cx from 'classnames';
import { {{pascalCase name}}Props } from './{{pascalCase name}}.types'

const {{pascalCase name}}: React.FC<any> = ({ className = '', ...props }: {{pascalCase name}}Props) => (
  <div className={cx(styles.{{pascalCase name}}, className)} {...props}>
    {{pascalCase name}}
  </div>
)

export { {{pascalCase name}} }
